.contact-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  align-items: center;
  background-color: $beige;

  .contact-section {
    flex-basis: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $mediumMediaQuery) {
      width: 100vw;
    }

    .detail-section {
      display: flex;
      justify-content: center;
      width: 400px;

      @media only screen and (max-width: $mediumMediaQuery) {
        width: 100%;
      }

      .description {
        flex-basis: 20%;
        padding-left: 30%;
        text-align: left;

        @media only screen and (max-width: $mediumMediaQuery) {
          flex-basis: 20%;
          padding-left: 20%;
        }
      }

      .details {
        padding-bottom: 15px;
        color: $copper;
        text-align: left;
        flex-basis: 50%;

        @media only screen and (max-width: $mediumMediaQuery) {
          flex-basis: 60%;
        }

        a {
          text-decoration: none;
          color: $copper;
        }
      }
    }

  }
}