
$desktopMediaQuery: 1000px;
$BioMediaQuery: 700px;
$mediumMediaQuery: 500px;
$navbarHeight: 100px;
$desktopContainerWidth: 1000px;
$homepageHeight: 80vh;

$navyBlue: #1E1F38;
$copper: #905c32;
$beige: #E9E9EB;
$paleBlue: #DDE5F4;

$sansSerifFont: 'Open Sans', sans-serif;
$serifFont: 'EB Garamond', serif;

// railway
// opensans
//