.contact-container {
  background-color: $beige;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      padding: 80px 0 40px 0;

      @media only screen and (max-width: $desktopMediaQuery) {
        padding: 40px 0;
      }
    }

    blockquote {
      max-width: 600px;
      text-align: center;
      font-size: 36px;
      font-weight: 100;

      @media only screen and (max-width: $desktopMediaQuery) {
        font-size: 24px;
        max-width: 350px;
      }
    }

    .contact-sections {
      display: flex;
      flex-direction: row;
      margin: 80px 0;
      align-items: flex-start;

      @media only screen and (max-width: $desktopMediaQuery) {
        flex-direction: column;
      }

      .contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 50%;
        text-align: center;
        padding: 0 20px;

        .employment {
          @media only screen and (max-width: $desktopMediaQuery) {
            padding-top: 60px;
          }
        }

        h4 {
          font-size: 18px;
          font-weight: 100;
        }

        span {
          max-width: 250px;
        }

        .details {
          color: $copper;
        }
      }
    }
  }
}