
$desktopMediaQuery: 1000px;
$navMediaQuery: 1450px;
$bioMediaQuery: 700px;
$mediumMediaQuery: 500px;
$navbarHeight: 100px;
$smallNavbarHeight: 70px;
$desktopContainerWidth: 1000px;
$homepageHeight: 800px;

$navyBlue: #1E1F38;
$copper: #905c32;
$beige: #E9E9EB;
$paleBlue: #DDE5F4;

$sansSerifFont: 'Open Sans', sans-serif;
$serifFont: 'EB Garamond', serif;

// railway
// opensans
//