$desktopMediaQuery: 1000px;
$navMediaQuery: 1000px;
$mediaQuery700: 700px;
$mediumMediaQuery: 500px;
$desktopContainerWidth: 1000px;
$homepageHeight: 800px;

$navyBlue: #1e1f38;
$copper: #905c32;
$copperAccent: #775941;
$beige: #e9e9eb;
$paleBlue: #dde5f4;

$sansSerifFont: "Open Sans", sans-serif;
$serifFont: "EB Garamond", serif;
