body {
	margin: 0;
	padding: 0;

	font-family: $serifFont;
	color: $copper;
}

p {
	font-family: $sansSerifFont;
	font-size: 14px;
	color: black;
}

span {
	font-family: $sansSerifFont;
	font-size: 14px;
	color: black;
}

h3 {
	font-family: $serifFont;
	text-align: center;
	font-size: 30px;
	font-weight: 100;
	padding-top: 100px;
	margin-top: 0;

	@media only screen and (max-width: $desktopMediaQuery) {
		font-size: 26px;
		padding-top: 60px;
	}
}

.desktop-container {
	@media only screen and (min-width: $desktopMediaQuery) {
		max-width: $desktopContainerWidth;
		margin: 0 auto;
	}
}