body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.desktop-container {
	@media only screen and (min-width: $desktopMediaQuery) {
		max-width: $desktopContainerWidth;
		margin: 0 auto;
	}
}