body {
	margin: 0;

	font-family: $serifFont;
	color: $copper;
}

h3 {
	font-family: $serifFont;
	text-align: center;
	font-size: 28px;
	font-weight: 100;
}

.desktop-container {
	@media only screen and (min-width: $desktopMediaQuery) {
		max-width: $desktopContainerWidth;
		margin: 0 auto;
	}
}