.homepage-background {
  width: 100%;
  height: $homepageHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $navyBlue;

  @media only screen and (max-width: $mediumMediaQuery) {
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    min-height: 730px;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    @media only screen and (max-width: $mediumMediaQuery) {
      margin-top: 130px;
      height: 400px;
    }
  }

  .homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    height: $homepageHeight;
    max-height: 800px;
    min-height: 600px;

    @media only screen and (max-width: $mediumMediaQuery) {
      position: relative;
      height: auto;
      min-height: auto;
    }

    h2 {
      max-width: 400px;
      font-family: $serifFont;
      color: $copper;
      margin: 50px;
      font-size: 24px;
      font-weight: 200;
      z-index: 1;

      @media only screen and (max-width: $mediumMediaQuery) {
        font-family: $sansSerifFont;
        font-size: 14px;
        font-weight: normal;
        max-width: 380px;
        line-height: 20px;
        margin: 20px 50px 0 0;
        padding: 20px 30px;
      }
    }

  }

  .arrow-down {
    align-self: center;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid $copper;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
      border-top: 12px solid #633e20;
    }

    @media only screen and (max-width: $mediumMediaQuery) {
      margin-top: 20px;
    }
  }
}
