.homepage-background {
  width: 100%;
  height: $homepageHeight;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &.compat-object-fit {
    background-size: cover;
    background-position: center center;

    img {
      // hide image if object fit is not supported - opacity to 0 for the link area
      opacity: 0;
    }
  }

  @media only screen and (max-width: $mediumMediaQuery) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    height: 720px;
  }

  .image-wrapper {
    @media only screen and (max-width: $mediumMediaQuery) {
      position: absolute;
      overflow: hidden;
      height: 500px;
      top: 0;
      width: 100%;
    }

    img {
      height: 930px;
      width: 100%;
      object-fit: cover;

      @media only screen and (max-width: $mediumMediaQuery) {
        height: 600px;
        position: absolute;
        top: 0;
      }
    }
  }

  .homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 1530px;
    position: absolute;
    height: $homepageHeight;
    max-height: 800px;
    min-height: 600px;
    top: 0px;

    @media only screen and (max-width: $mediumMediaQuery) {
      align-items: center;
      position: relative;
      height: auto;
      min-height: auto;
    }

    h2 {
      max-width: 380px;
      font-family: $serifFont;
      color: $copper;
      margin: 50px;
      font-weight: normal;
      font-size: 24px;
      z-index: 1;

      @media only screen and (max-width: $mediumMediaQuery) {
        font-size: 20px;
        max-width: 380px;
        margin: 0;
        padding: 20px;
        text-align: center;
      }
    }
  }

  .arrow-down {
    align-self: center;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid $copper;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
      border-top: 12px solid #633e20;
    }

    @media only screen and (max-width: $mediumMediaQuery) {
      display: none;
    }
  }
}
