.navigation-top {
	display: flex;
	justify-content: space-between;
	background-color: red;
}

div.custom-nav-class {
	width: 600px;

	ul {
		display: flex;
		list-style: none;
		justify-content: space-between;
	}

	a {
		color: black;
		text-decoration: none;
	}
}

.nav-logo-wrapper {
	width: 100px;
}

.sf-nav-logo {
	max-width: 100%;
	max-height: 100%;
}

