.navigation-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: $navbarHeight;
	transition: height 0.5s;
	top: 0;
	width: 100vw;
	position: fixed;
	z-index: 99;

	&.minimise {
		@media only screen and (max-width: $mediumMediaQuery) {
			height: $smallNavbarHeight;

			.nav-hamburger {
				transition: all 0.5s;
				margin-bottom: 20px;
			}

			.navbar-items {
				transition: all 0.5s;
				padding-top: 60px;
			}
		}
	}

	.nav-logo-wrapper {
		transition: margin 0.5s;
		margin-left: 20px;
		width: 160px;
		height: 80px;
	}

	.sf-nav-logo {
		max-width: 100%;
		max-height: 100%;
		z-index: 99;
	}

	.navbar-items {
		list-style: none;
		z-index: 99;
		position: absolute;
		width: 150px;
		top: 0;
		margin: 0;
		right: 0;
		padding: 75px 35px 20px 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		opacity: 0;
		visibility: hidden;

		a {
			color: $copper;
			text-decoration: none;
			text-transform: capitalize;
			font-size: 20px;
			font-family: $sansSerifFont;
			font-weight: 400;
			cursor: pointer;
		}

		li {
			flex: 0 0 35px;
		}

		@media only screen and (max-width: $mediumMediaQuery) {
			background-color: $navyBlue;
			width: 100vw;
		}

		&.expand {
			&.fade_out {
				transition: opacity 0.5s;
				opacity: 0;
			}
			transition: all 0.5s;
			opacity: 1;
			visibility: visible;
		}
	}

	.nav-hamburger {
		display: block;
		width: 40px;
    height: 40px;
		transition: margin 0.5s;
		margin-bottom: 40px;
		margin-right: 25px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		outline: none;
		z-index: 99;

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 24px;
			height: 2px;
			background-color: $copper;
			transition: all 0.5s ease;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 24px;
			height: 2px;
			margin-top: 6px;
			background-color: $copper;
			transition: all 0.5s ease;
		}

		&.nav-close {
			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
				margin: 0;
			}
		}
	}
}


