.navigation-top {
  position: absolute;
  height: 120px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 99;

  .nav-logo-wrapper {
    margin-left: 20px;
    width: 160px;
    height: 80px;

    .sf-nav-logo {
      max-width: 100%;
      max-height: 100%;
      z-index: 99;
    }
  }

  .menu-button {
    display: none;
    margin-right: 47px;
    padding: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: $copper;
      transition: all 0.3s;
      top: 0;
      right: 0;
      margin-top: 48px;
      margin-right: 50px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: $copper;
      transition: all 0.3s;
      top: 0;
      right: 0;
      margin-top: 52px;
      margin-right: 50px;
    }

    &.nav-open {
      &::before {
        margin-top: 50px;
        transform: rotate(45deg);
      }

      &::after {
        margin-top: 50px;
        transform: rotate(-45deg);
      }
    }
  }

  .navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex: 0 1 400px;
    justify-content: space-between;
    padding: 0 40px;

    a {
      color: $copper;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 16px;
      font-family: $sansSerifFont;
      cursor: pointer;

      &:hover {
        color: $copperAccent;
      }
    }

    &.expand {
      position: fixed;
      flex-direction: column;
      align-items: flex-end;
      right: 12px;
      top: 53px;
      line-height: 30px;
      transition: all 0.3s;
      opacity: 1;

      a {
        font-size: 18px;
      }

      &.fade {
        transition: opacity 0.3s;
        opacity: 0;
      }
    }
  }

  // no matter what screen size, show the sticky past the landing screen image
  &.sticky {
    position: fixed;
    height: 100px;

    .nav-logo-wrapper {
      width: 140px;
      height: 70px;
    }

    .menu-button {
      display: block;
    }

    .navbar-items {
      display: none;

      &.expand {
        display: flex;
      }
    }
  }

  // on small screens, show the small stick nav always
  @media only screen and (max-width: $mediaQuery700) {
    position: fixed;
    height: 100px;

    // when small screen and past landing
    &.sticky {
      background: rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid white;
    }

    .nav-logo-wrapper {
      width: 140px;
      height: 70px;
    }

    .menu-button {
      display: block;
    }

    .navbar-items {
      display: none;

      &.expand {
        display: flex;
      }
    }
  }
}
