.safe-custody-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 150px 0;

  @media only screen and (max-width: $mediumMediaQuery) {
    padding: 50px 0 0 0;
  }

  .safe-custody {
    background-color: $paleBlue;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.0625rem 0.1875rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 700px;

    @media only screen and (max-width: $mediumMediaQuery) {
      box-shadow: none;
    }

    .safe-custody-heading {
      padding: 40px 0 0 0;
    }

    .safe-custody-body {
      line-height: 23px;
      padding: 0 50px 40px 50px;

      @media only screen and (max-width: $mediumMediaQuery) {
        line-height: inherit;
        font-size: 12px;
        padding: 10px 10vw 30px 10vw;
        margin-bottom: 30px;
      }
    }
  }

}
