.safe-custody-container {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $mediumMediaQuery) {
    padding-bottom: 20px;
  }

  .safe-custody-body {
    padding: 50px 100px;
    line-height: 23px;

    @media only screen and (max-width: $mediumMediaQuery) {
      line-height: inherit;
      font-size: 12px;
      padding: 20px;
    }
  }
}
