.services-container {
  padding-bottom: 50px;

  @media only screen and (max-width: $mediumMediaQuery) {
    padding-bottom: 20px;
  }

  .inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    h3 {
      align-self: center;
      flex-basis: 100%;
      padding-top: 50px;
    }

    .service-box {
      display: flex;
      justify-content: center;

      flex: 0 1 350px;
      padding: 40px 20px;
      text-align: center;

      @media only screen and (max-width: $mediumMediaQuery) {
        padding: 20px;
      }
    }

    p {
      font-size: 12px;
    }

    .service {
      max-width: 280px;

      h4 {
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 100;
      }
    }
  }
}
