.services-container {
  padding-bottom: 50px;

  @media only screen and (max-width: $mediumMediaQuery) {
    padding-bottom: 20px;
  }

  .inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    h3 {
      align-self: center;
      flex-basis: 100%;
      padding-top: 50px;
    }

    .service-box {
      display: flex;
      justify-content: center;

      flex: 0 1 350px;
      padding: 10px 20px;

      @media only screen and (max-width: $desktopMediaQuery) {
        padding: 20px 10px;
      }

      @media only screen and (max-width: $mediumMediaQuery) {
        padding: 5px 20px;
      }
    }

    p {
      font-size: 12px;
    }

    .service {
      max-width: 280px;

      h4 {
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 100;
        margin: 10px 0;
      }

      // list can be added in post
      ul {
        margin: 0;
        padding-left: 30px;
        font-size: 12px;
        line-height: 8px;
        color: black;
        font-family: "Open Sans", sans-serif;

        li {
          line-height: 16px;
        }
      }
    }
  }
}
