.team-page-container {
  span {
    font-family: $sansSerifFont;
    text-transform: capitalize;
    font-size: 14px;
    text-align: center;
    display: block;
    color: $copper;
  }

  .desktop-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;

    @media only screen and (max-width: 700px) {
      display: none;
    }

    h3 {
      flex-basis: 100%;
    }

    .bio-container {
      display: flex;
      align-items: center;
      flex-direction: column;

      flex: 0 0 250px;
      padding: 20px;

      img {
        height: 250px;
        width: 250px;
        margin-bottom: 10px;
        object-fit: cover;
      }

      .role {
        color: black;
      }
    }
  }


  .mobile-carousel {
    display: none;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    @media only screen and (max-width: 700px) {
      display: flex;
    }

    .carousel-slides {
      flex-direction: column;
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
      }

      .name {
        margin-top: 15px;
      }

      .role {
        color: black;
      }
    }

    .carousel-button {
      position: absolute;
      top: calc((250px/2) - 10px);

      &:before {
        display: block;
        content: "";
        width: 0;
        height: 0;
        border: none;
        background: none;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;

      }

      &.left {
        margin-left: -150px;

        &:before {
          border-right: 12px solid $copper;
        }
      }

      &.right {
        margin-left: 150px;

        &:before {
          border-left: 12px solid $copper;
        }
      }
    }
  }
}