
$desktopMediaQuery: 1000px;
$navbarHeight: 150px;
$desktopContainerWidth: 1000px;

$navyBlue: #1E1F38;
$copper: #905c32;

$sansSerifFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFont: 'Source Serif Pro', serif;