
$desktopMediaQuery: 1000px;
$navbarHeight: 150px;
$desktopContainerWidth: 1000px;

$navyBlue: #1E1F38;
$copper: #905c32;
$beige: #E9E9EB;

$sansSerifFont: 'Lato', sans-serif;
$serifFont: 'Lora', serif;