.news-articles-section {
  .news-articles {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 0 120px;
    max-width: 1200px;
    flex-basis: 1200px;

    @media only screen and (max-width: 1000px) {
      flex-basis: 1000px;
    }

    @media only screen and (max-width: 800px) {
      padding: 0 100px;
    }

    @media only screen and (max-width: 600px) {
      padding: 0 50px;
    }

    .news-articles-service-title {
      align-self: flex-start;
      font-size: 20px;
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      color: $copper;
      border-top: 2px solid $copper;
    }

    .slider__arrow {
      position: absolute;
      top: 50%;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;

      &:after {
        content: "";
        border: solid $copper;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 8px;
        margin-top: 4px;
      }

      &:hover {
        background-color: $paleBeige;
      }

      &.slider__arrow--prev {
        left: -100px;

        &:after {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          margin-left: 6px;
        }

        @media only screen and (max-width: 800px) {
          left: -75px;
        }

        @media only screen and (max-width: 600px) {
          left: -50px;
        }
      }

      &.slider__arrow--next {
        right: -100px;

        &:after {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          margin-right: 6px;
        }

        @media only screen and (max-width: 800px) {
          right: -75px;
        }

        @media only screen and (max-width: 600px) {
          right: -50px;
        }
      }
    }

    .news-article {
      .news-article-image {
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        flex-shrink: 0;
      }

      .news-article-title {
        padding: 0;
        margin: 5px 0 10px 0;
        font-size: 20px;
        text-align: left;
        width: 100%;
      }

      .news-article-date {
        margin: 0 0 15px 0;
        font-variant: all-small-caps;
      }

      .news-article-blurb {
        margin: 0 0 15px 0;
      }

      .news-article-link {
        color: $navyBlue;
      }
    }
  }

  .subscribe-section {
    // display: flex;
    display: none;
    flex-shrink: 0;
    flex-direction: column;
    width: 250px;
    margin: 0 20px;

    @media only screen and (max-width: $desktopMediaQuery) {
      margin: 20px;
    }

    .subscribe-subheading {
      margin-bottom: 20px;
    }

    .subscribe-button {
      margin-bottom: 10px;
      padding: 10px;
      border: none;
      background-color: $paleBlue;
      color: $navyBlue;
      border-radius: 5px;
      cursor: pointer;
      outline-color: $navyBlue;

      &:hover {
        background-color: #c5d4ea;
      }
    }
  }
}

.subscribe-modal-wrapper {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subscribe-modal {
    background-color: $paleBlue;
    padding: 20px;
    display: flex;
    color: $navyBlue;
    justify-content: space-between;

    .subscribe-modal-form-container {
      padding-left: 50px;

      .subscribe-modal-heading {
        margin: 13px 0 20px 0;
      }

      .subscribe-modal-form {
        display: flex;
        flex-direction: column;

        .subscribe-modal-input {
          outline-color: $navyBlue;
          padding: 10px;
          margin-bottom: 20px;
        }

        .subscribe-modal-button {
          padding: 10px;
          border: none;
          background-color: $navyBlue;
          color: white;
          border-radius: 5px;
          cursor: pointer;
          outline-color: $navyBlue;
          margin: 10px 0 20px 0;

          &:hover {
            background-color: black;
          }
        }
      }
    }

    .close-subscribe-modal {
      background-image: url("assets/images/close.svg");
      background-position: center;
      background-repeat: no-repeat;
      height: 25px;
      width: 25px;
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 40px 60px 20px 0;
    }

    .subscription-status {
      width: 275px;
      height: 70px;

      .subscription-status-sending,
      .subscription-status-error,
      .subscription-status-successful {
        display: none;
      }

      &.successful {
        .subscription-status-successful {
          display: block;
        }
      }

      &.sending {
        .subscription-status-sending {
          display: block;
        }
      }

      &.error {
        .subscription-status-error {
          display: block;
        }
      }
    }
  }
}
